.about
  display: flex
  justify-content: center
  align-items: center
  padding: 165px 0
  &__copy
    display: flex
    justify-content: center
    flex-direction: column
    max-width: 550px
    margin-right: 150px
    margin-left: 150px
    +laptop()
      margin-right: 75px
    h2
      color: black
      font-size: 40px
      font-weight: 400
      padding-bottom: 25px
      border-bottom: 2px solid #B2B2B2
  .button-group
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 50px
    