.hello
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-image: url('../assets/hero/background.png')
	background-size: cover
	color: white
	&__container
		margin-left: 35%
	&__text
		font-size: 140px
		display: flex
		flex-direction: column
		margin-bottom: 45px
	.button-group
		width: 100%
		display: flex
		justify-content: space-between