.hello
	height: 90vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-image: url('../assets/hero/background.png')
	background-size: cover
	color: white
	h1
		font-size: 140px
	&__text
		display: flex
		flex-direction: column