.hello
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-image: url('../assets/hero/background.png')
	background-size: cover
	color: white
	+mobile()
		background-position: center
		padding: 0 25px
	&__container
		margin-left: 35%
		+mobile()
			margin: 0
			width: 100%
	&__text
		font-size: 140px
		display: flex
		flex-direction: column
		margin-bottom: 45px
		+mobile()
			font-size: 56px
	.button-group
		width: 100%
		display: flex
		justify-content: space-between
		+mobile()
			flex-direction: column
		.button
			+mobile()
				margin: 15px 0