.icon-bar
  background: url('../assets/iconBar/Icon_Background.png');
  background-size: cover
  &__inner-container
    display: flex
    justify-content: space-around
    align-items: center
    height: 225px
    color: #fff
    width: 75%
    margin: 0 auto
  &__text-containers
    height: 60%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    p
      margin-top: auto
  &__icons
    width: 75px

