.portfolio-page
  padding-top: 250px
  padding-bottom: 150px
  +laptop()
    padding-top: 150px
  +mobile()
    padding-top: 100px
    padding-bottom: 50px
.portfolio-item 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  max-width: calc(100vw - 160px)
  margin: 0 auto
  +mobile()
    max-width: 100%
    padding: 0 25px
  .button
    font-size: 16px
    +mobile()
      font-size: 14px
      position: relative
  .brief-copy
    width: 50%
    margin: 50px 0
    +mobile()
      width: 100%
  h2, h3
    color: $gray
    font-weight: 500
  h2
    font-size: 40px
    +mobile()
      font-size: 24px
  h3
    margin-bottom: 60px
    margin-top: 0
  .image-container
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
  &__images
    margin-bottom: 25px
    width: 35%
    +laptop()
      width: 75%
    +mobile()
      width: 100%