.portfolio-item 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  padding: 0 150px
  padding-top: 150px
  .button
    position: fixed
    top: 150px
    left: 150px
  h2
    font-size: 40px
    font-weight: 500
  &__images
    width: 100%